.navbar {
    font-weight: 500;
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;


    &__links, &__buttons {
        display: flex;
        padding: 0;

        li {
            list-style: none;

            &.active {
                font-weight: 800;
            }
        }

        a {
            display: block;
            color: inherit;
            text-decoration: none;
            padding: 7px 13px;

            &:hover {
                background-color: $bordeaux;
            }

           
        }
    }
}