.portfolio {
    background-color: $white;
    padding: 70px 10%;

    .caption {

        h2 {
            color: $gold;
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        p {
            color: $black;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 100px;
        }
    }

    .video {
        width: 100%;
        margin-bottom: 100px;
    }

    .textcolumns {
        display: flex;
        gap: 30px;
        margin-bottom: 100px;

        .col {
            width: 30%;
            color: $black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 25px;
            }
        }
    }

    .artgallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        img {
            width: 100%;
        }

        button {
            grid-column: 4 / 5;
            width: 100px;
            margin-left: auto;
            margin-top: 10px;
            display: block;
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: $gold;
            color: $white;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: $bordeaux;
            }
        }
    }
}