//Font (PlayFair Display)
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

//Color variables
$black: #121618;
$gold: #A28140;
$white: #F4F1EC;
$bordeaux: #800020;


//Sections
@import 'reset';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    color: $white;
}

@import 'navbar';
@import 'hero';
@import 'highlights';
@import 'about';
@import 'features';
@import 'portfolio';
@import 'contact';
@import 'footer';

