@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: #F4F1EC;
}

.navbar {
  font-weight: 500;
  font-size: 16px;
  background-color: #121618;
  color: #F4F1EC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.navbar__links, .navbar__buttons {
  display: flex;
  padding: 0;
}
.navbar__links li, .navbar__buttons li {
  list-style: none;
}
.navbar__links li.active, .navbar__buttons li.active {
  font-weight: 800;
}
.navbar__links a, .navbar__buttons a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 7px 13px;
}
.navbar__links a:hover, .navbar__buttons a:hover {
  background-color: #800020;
}

.hero {
  padding-inline: 10%;
  background-color: #121618;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content {
  width: 50%;
}
.hero__content h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.hero__content p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-bottom: 60px;
}
.hero__content button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #A28140;
  color: #F4F1EC;
  padding: 10px 20px;
  cursor: pointer;
}
.hero__content button i {
  margin-left: 10px;
}
.hero__content button:hover {
  background-color: #800020;
}

.highlights {
  background-color: #F4F1EC;
  padding: 70px 10%;
}
.highlights__content {
  margin-bottom: 70px;
}
.highlights__content h1 {
  font-size: 48px;
  font-weight: 500;
  color: #A28140;
  margin-bottom: 30px;
}
.highlights__content p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #121618;
}
.highlights__gallery {
  display: flex;
  justify-content: space-between;
}
.highlights__gallery .post {
  width: min-content;
}
.highlights__gallery .post h3 {
  font-size: 20px;
  font-weight: 600;
  color: #A28140;
  margin: 12px 0;
}
.highlights__gallery .post p {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #121618;
}
.highlights__gallery .post button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #A28140;
  color: #F4F1EC;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 30px;
}

/*# sourceMappingURL=styles.css.map */
