@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: #F4F1EC;
}

.navbar {
  padding: 10px 50px;
  background-color: #121618;
  color: #F4F1EC;
}
.navbar .container {
  max-width: 1800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  margin-inline: auto;
}
.navbar__links, .navbar__buttons {
  display: flex;
  padding: 0;
}
.navbar__links li, .navbar__buttons li {
  list-style: none;
}
.navbar__links li.active, .navbar__buttons li.active {
  font-weight: 800;
}
.navbar__links a, .navbar__buttons a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 7px 13px;
}
.navbar__links a:hover, .navbar__buttons a:hover {
  background-color: #800020;
}
.navbar .hamburger-icon {
  display: none;
}
.navbar .hamburger-icon a {
  color: #F4F1EC;
  font-size: 23px;
}

@media screen and (max-width: 1170px) {
  .navbar .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .navbar {
    padding-inline: 20px;
  }
  .navbar .container {
    flex-direction: row;
  }
  .navbar__links {
    display: none;
  }
  .navbar__buttons {
    display: none;
  }
  .navbar .hamburger-icon {
    display: block;
  }
}
.hero {
  padding-inline: 10%;
  background-color: #121618;
}
.hero .container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}
.hero .container__content {
  width: 50%;
}
.hero .container__content h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.hero .container__content p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-bottom: 60px;
}
.hero .container__content button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #A28140;
  color: #F4F1EC;
  padding: 10px 20px;
  cursor: pointer;
}
.hero .container__content button i {
  margin-left: 10px;
}
.hero .container__content button:hover {
  background-color: #800020;
}

@media screen and (max-width: 1170px) {
  .hero {
    padding-top: 60px;
  }
  .hero .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero .container__content {
    width: 100%;
  }
  .hero .container__content button {
    margin-bottom: 50px;
  }
  .hero .container__image {
    margin-inline: auto;
  }
  .hero .container__image img {
    width: 100%;
  }
}
.highlights {
  background-color: #F4F1EC;
  padding: 70px 10%;
}
.highlights .container {
  max-width: 1600px;
  margin-inline: auto;
}
.highlights .container__content {
  margin-bottom: 70px;
}
.highlights .container__content h1 {
  font-size: 48px;
  font-weight: 500;
  color: #A28140;
  margin-bottom: 30px;
}
.highlights .container__content p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #121618;
}
.highlights .container__gallery {
  display: flex;
  justify-content: space-between;
}
.highlights .container__gallery .post {
  width: min-content;
}
.highlights .container__gallery .post h3 {
  font-size: 20px;
  font-weight: 600;
  color: #A28140;
  margin: 12px 0;
}
.highlights .container__gallery .post p {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #121618;
}
.highlights .container__gallery .post button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #A28140;
  color: #F4F1EC;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 30px;
}
.highlights .container__gallery .post button:hover {
  background-color: #800020;
}

@media screen and (max-width: 1250px) {
  .highlights .container__gallery {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}
.about {
  background-color: #A28140;
  padding: 70px 10%;
}
.about .container {
  max-width: 1600px;
  margin-inline: auto;
}
.about .container .caption {
  margin-bottom: 60px;
}
.about .container .caption h1 {
  font-size: 48px;
  font-weight: 500;
  color: #F4F1EC;
  margin-bottom: 20px;
}
.about .container .caption p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.about .container .content {
  display: flex;
  gap: 80px;
}
.about .container .content__text {
  width: 100%;
  height: 100%;
}
.about .container .content__text h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 25px;
}
.about .container .content__text p {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 1px;
}
.about .container .content__text__container:not(:last-child) {
  margin-bottom: 50px;
}
.about .container .content__image {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1250px) {
  .about .container .content {
    flex-direction: column;
  }
  .about .container .content__image {
    width: 50%;
    margin-inline: auto;
  }
}
@media screen and (max-width: 900px) {
  .about .content__image {
    width: 100% !important;
  }
}
.features {
  background-color: #121618;
  padding: 70px 10%;
}
.features ul {
  display: flex;
  justify-content: space-between;
}
.features ul li {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.features ul li img {
  width: 82px;
  height: 82px;
  margin: 0 auto;
}
.features ul li h3 {
  font-size: 20px;
  font-weight: 600;
}
.features ul li p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
}

.portfolio {
  background-color: #F4F1EC;
  padding: 70px 10%;
}
.portfolio .caption h2 {
  color: #A28140;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 25px;
}
.portfolio .caption p {
  color: #121618;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 100px;
}
.portfolio .video {
  width: 100%;
  margin-bottom: 100px;
}
.portfolio .textcolumns {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}
.portfolio .textcolumns .col {
  width: 30%;
  color: #121618;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio .textcolumns .col h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.portfolio .textcolumns .col p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
}
.portfolio .artgallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.portfolio .artgallery img {
  width: 100%;
}
.portfolio .artgallery button {
  grid-column: 4/5;
  width: 100px;
  margin-left: auto;
  margin-top: 10px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #A28140;
  color: #F4F1EC;
  padding: 5px 10px;
  cursor: pointer;
}
.portfolio .artgallery button:hover {
  background-color: #800020;
}

.contact {
  background-color: #A28140;
  padding: 70px 10%;
  color: #F4F1EC;
}
.contact h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.contact .email-form {
  display: flex;
  margin-bottom: 15px;
}
.contact .email-form input[type=email] {
  width: 30%;
  height: 30px;
  font-family: inherit;
  background-color: #F4F1EC;
  padding: 5px 20px;
  font-size: 20px;
  outline: none;
  border: none;
}
.contact .email-form input[type=email]::placeholder {
  opacity: 0.5;
}
.contact .email-form input[type=submit] {
  display: block;
  border: none;
  background-color: #F4F1EC;
  color: #A28140;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 20px;
  cursor: pointer;
  margin-left: 15px;
}
.contact .email-form input[type=submit]:hover {
  background-color: #800020;
  color: #F4F1EC;
}
.contact a {
  color: #F4F1EC;
}

footer {
  background-color: #121618;
  color: #F4F1EC;
  padding-inline: 10%;
  padding-top: 70px;
  padding-bottom: 15px;
}
footer .navigations {
  display: flex;
  justify-content: space-between;
}
footer .navigations .links h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .navigations .links ul a {
  display: block;
  text-decoration: none;
  color: #F4F1EC;
  padding: 10px 20px 10px 0;
  margin-top: 5px;
}
footer .navigations .links ul a:hover {
  text-decoration: underline;
  color: #A28140;
}
footer .navigations .dropdown {
  font-size: 16px;
}
footer .navigations .dropdown label {
  font-size: inherit;
  display: block;
  margin-bottom: 20px;
}
footer .navigations .dropdown select {
  cursor: pointer;
  font-size: inherit;
  width: 150px;
  height: 25px;
  outline: none;
}
footer img {
  display: block;
  margin: 50px auto;
}
footer p {
  text-align: center;
  line-height: 25px;
}

/*# sourceMappingURL=styles.css.map */
